.dub
docs.json
__dummy.html
docs/
codewars-2013.so
codewars-2013.dylib
codewars-2013.dll
codewars-2013.a
codewars-2013.lib
codewars-2013-test-*
*.exe
*.o
*.obj
*.lst
prob05
libprob00.a
prob00
prob01
prob03
prob04
prob06
prob08
prob09
prob12
prob2
codewars-2018-test-prob07
codewars-2018-test-prob04
codewars-2018-test-prob05
codewars-2018-test-prob06
codewars-2018-test-prob08
codewars-2018-test-prob09
codewars-2018-test-prob11
codewars-2018-test-prob12
